{% load static %}

<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'company_event/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'company_event/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
{% block mainmenu %}
<ul>
	{% for m in menu %}
<li>{{m}}</li>
	{% endfor %}
</ul>
{% endblock mainmenu %}

{% block content %}
{% endblock %}
</body>
</html>