<!DOCTYPE html>
<html>
<head>
<title>Main page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
	a {text-decoration: none}
	a:link {color: green;}
	a:visited {color: red;}
	a:active {color: black}
	a:hover {text-decoration: overline underline; color: navy;}

</style>

</head>


<body>

<center>

<h1>Тестовое задание: стартовая страница</h1>
<br><a href='http://127.0.0.1:8000/admin/'>Админка</a>
<br><a href='http://127.0.0.1:8000/api/v1/token'>Получить JWT токены</a>
<br><a href='http://127.0.0.1:8000/api/v1/companies'>Организации</a>
<br><a href='http://127.0.0.1:8000/api/v1/events'>Мероприятия</a>
<br><a href='http://127.0.0.1:8000/api/v1/event_details/1/'>Изменить мероприятие</a>
<br><a href='http://127.0.0.1:8000/api/v1/companies_details/2/'>Изменить организацию</a>
<br><h1><i>Доступ в админку как по логину, так и по e-mail.</i> Пользователь: <u>root</u>. E-mail: <u>root@mail.ru</u>.
Пароль: <u>12345</u></h1>



</center>"






</body>

</html>